body {
    justify-content: center;
    background-color: rgb(255, 86, 86);
    margin: 0px;
}

.conteiner {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mask {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content:center;
    position: absolute;
    width: 350px;
    height: 600PX;
    background-color: blue;
    opacity: 50%;
}